<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Jo's Echo Proof of Concepts</display-name>
	<servlet>
	  <servlet-name>HelloWorldServlet</servlet-name>
	  <servlet-class>helloworld.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ColossalCaveServlet</servlet-name>
	  <servlet-class>jo.cc.ColossalCaveServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GroceryListServlet</servlet-name>
	  <servlet-class>jo.gl.GroceryListServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UPSServlet</servlet-name>
	  <servlet-class>jo.ups2.UPS2Servlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>JoseServlet</servlet-name>
	  <servlet-class>jo.jose.JoseServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>FlashServlet</servlet-name>
	  <servlet-class>jo.flash.FlashServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>KnockKnockServlet</servlet-name>
	  <servlet-class>jo.kk.KnockKnockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>HelloWorldServlet</servlet-name>
	  <url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ColossalCaveServlet</servlet-name>
	  <url-pattern>/cc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GroceryListServlet</servlet-name>
	  <url-pattern>/gl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UPSServlet</servlet-name>
	  <url-pattern>/ups</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>JoseServlet</servlet-name>
	  <url-pattern>/jose</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>FlashServlet</servlet-name>
	  <url-pattern>/flash</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>KnockKnockServlet</servlet-name>
	  <url-pattern>/kk</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>